# sshtunnel
.python-version
.venv
.idea
.env

# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
#*~

# due to using tox and pytest
.tox
.cache
.coverage
pytestdebug.log

# due to sphinx
docs/_build/
